.turtle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.turtle-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 500px;
}

.turtle-controls-area {
  flex-grow: 1;
}

.turtle-canvas-canvas {
  border: 1px solid lightblue;
}

.turtle-controls-palette {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  width: 500px;
}

.turtle-errors {
  color: red;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.turtle-controls-palette > div {
  text-align: center;
}

.black {
  background-color: black;
  color: white;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.cyan {
  background-color: cyan;
}

.blue {
  background-color: blue;
}

.violet {
  background-color: violet;
}

:popover-open {
  width: 300px;
  inset: unset;
  bottom: 5px;
  right: 5px;
  margin: 0;
}

#button-instructions {
  anchor-name: --test-anchor;
}

#instruction-popover {
  position: absolute;
  /**left: calc(anchor(--test-anchor right) + 10px);
  top: calc(anchor(--test-anchor bottom) + 152px); */
  transform: translateY(-261%) translateX(-15%);
}

#instruction-popover.popover-show {
  transform: translate(0, 0);
  border: 2px solid black;
  margin: auto;
  transform: translate(512px, 98px);
  border: 2px solid black;
  margin: auto;
  width: 300px;
  padding: 12px;

}

.instruction {
  display: flex;
  flex-direction: column;
  gap: 6px;
}